@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Comfortaa|Sulphur+Point:300,700|Noto+Sans+KR);
@import url(normalize.css);
@import url(all.min.css);

/*font*/
body {
  font-family: 'Sulphur Point', sans-serif;
}

/*color*/
body {
  background: #fff;
  color: #444;
}

/*layout*/
.wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
main {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/*background*/
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1
}
.bg .vt-grid {
  position: absolute;
  width: 350px;
  height: 100%;
  border-left: solid 1px #ddd
}
.bg .vt-grid:nth-child(1) {
  left: 250px;
}
.bg .vt-grid:nth-child(2) {
  left: 600px;
}
.bg .vt-grid:nth-child(3) {
  left: 950px;
}
.bg .vt-grid:nth-child(4) {
  left: 1300px;
  border-right: solid 1px #ddd
}
.bg .hor-grid {
  position: absolute;
  width: 100%;
  height: 350px;
  border-top: solid 1px #ddd;
}
.bg .hor-grid:nth-child(5) {
  top: 100px;
}
.bg .hor-grid:nth-child(6) {
  top: 450px;
  border-bottom: solid 1px #ddd
}

/*header*/
header {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 1;
  font-family: 'Comfortaa', sans-serif;
}
header h1 {
  position: absolute;
  top: 50px;
  right: 90px;
  font-size: 40px;
  color: #dbc8ff;
}
header .gnb {
  position: absolute;
  top: 60px;
  left: 150px;
  width: 500px;
}
header .gnb a {
  float: left;
  display: block;
  padding: 3px 5px;
  margin-right: 30px;
  font-size: 22px;
  text-transform: uppercase;
  background: url(../img/a-bg.jpg) no-repeat -300px 10px / cover;
  
  transition: all .5s
}
header .gnb a:hover,
header .gnb a.on {
  background-position: center 10px
}

main .indicator {
  position: fixed;
  bottom: 50px;
  left: 50%;
  width: 130px;
  margin-left: -65px;
}
main .indicator a {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background: url(../img/a-bg.jpg) no-repeat center 27px;
  transition: all .3s
}
main .indicator a:last-child {
  margin-right: 0;
}
main .indicator a:hover,
main .indicator a.on {
  background-position: center 10px
}

/*section 1*/
main section {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

main #sec1 .line {
  position: absolute;
  left: 15%;
  top: -5%;
  width: 30%;
  height: 80%;
  border: solid 3px #dbc8ff
}
main #sec1 .img-banner {
  position: absolute;
  top: 20%;
  width: 55%;
  height: 500px;
  overflow: hidden;
}
main #sec1 .img-slide {
  position: absolute;
  width: 100%;
  height: 100%;
}
main #sec1 .img-slide li {
  position: absolute;
  width: 100%;
  height: 100%;
}
main #sec1 .img-slide li:first-child,
main #sec1 .img-slide li:last-child {
  background: linear-gradient(45deg,#dbc8ff,#D8FDE8,#dbc8ff,#D8FDE8);
  background-size: 600% 600%;
  animation: bg 10s linear infinite
}
@keyframes bg {
  0% {background-position: 0% 50%}
  50% {background-position: 100% 50%}
  100% {background-position: 0% 50%}
}
main #sec1 .img-slide li:nth-child(2) {
  background: url(../img/banner-1.jpg) no-repeat center center
}
main #sec1 .img-slide li:nth-child(3) {
  background: url(../img/banner-2.jpg) no-repeat center center
}
main #sec1 .img-slide li:nth-child(4) {
  background: url(../img/banner-3.jpg) no-repeat center center
}
main #sec1 .img-slide li:nth-child(5) {
  background: url(../img/banner-4.jpg) no-repeat center center
}
main #sec1 .img-slide li:nth-child(6) {
  background: url(../img/banner-5.jpg) no-repeat center center
}
main #sec1 .img-slide li:nth-child(7) {
  background: url(../img/banner-6.jpg) no-repeat center center
}
main #sec1 .txt-banner {
  position: absolute;
  top: 25%;
  left: 70%;
  height: 400px;
  width: 25%;
  background: #dbc8ff;
  overflow: hidden
}
main #sec1 .txt-slide {
  position: absolute;
  width: 100%;
  height: 100%;
}
main #sec1 .txt-slide li {
  position: absolute;
  left: 5%;
  width: 95%;
  height: 100%;
  
  font-size: 90px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  letter-spacing: -1px;
  text-transform: uppercase;
}
main #sec1 .txt-slide p {
  margin-top: 110px;
}
main #sec1 .txt-slide a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/arrow.svg) no-repeat 90% 180px / 200px;
}
main #sec1 .txt-slide a:hover {
  animation: arrow 1s infinite
}
@keyframes arrow {
  0% {background-position: 30% 180px}
  100% {background-position: 90% 180px}
}
main #sec1 .txt-slide li:first-child a,
main #sec1 .txt-slide li:last-child a {
  background: transparent;
}

/*section 2*/
main #sec2 {}
main #sec2 .item-box {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
}
main #sec2 .item {
  float: left;
  position: relative;
  width: 33.3333%;
  height: 50%;
  background: #dbc8ff;
  overflow: hidden;
}

main #sec2 .item {background: #dbc8ff}

main #sec2 .item a {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  opacity: 1;
  background: no-repeat center center;
  transition: all .3s;
}
main #sec2 .item:nth-child(1) a {background-image: url(../img/thumb-1.jpg)}
main #sec2 .item:nth-child(2) a {background-image: url(../img/thumb-2.jpg)}
main #sec2 .item:nth-child(3) a {background-image: url(../img/banner-3.jpg)}
main #sec2 .item:nth-child(4) a {background-image: url(../img/thumb-4.jpg)}
main #sec2 .item:nth-child(5) a {background-image: url(../img/thumb-5.jpg)}
main #sec2 .item:nth-child(6) a {background-image: url(../img/thumb-6.jpg)}

main #sec2 .item a:hover {
  opacity: 0;
}

main #sec2 .item h2 {
  margin-top: 100px;
  margin-bottom: 7px;
  font-size: 48px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
main #sec2 .item p {
  text-align: center;
  font-size: 22px
}

/*section 3*/
main #sec3 {
  background: #D8FDE8;
}
main #sec3 .con1 {
  position: absolute;
  top: 20%;
  left: 29%;
  height: 60%;
  width: 20%;
  background: url(../img/purplecider.png) no-repeat center 15% / 50%;
  background-color: #dbc8ff;
}

main #sec3 .c-con {
  padding-top: 80%;
  padding-left: 50px;
}
main #sec3 h2 {
  font-size: 46px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
main #sec3 h3 {
  font-size: 24px
}

main #sec3 .con1 p {
  font-size: 24px;
  margin-bottom: 10px;
}
main #sec3 .con2,
main #sec3 .con3 {
  position: absolute;
  left: 51%;
  color: #dbc8ff;
}
main #sec3 .con2 {
  top: 20%;
  width: 20%;
  height: 28%;
  background: url(../img/question-color.svg) no-repeat center 35% / 100px;
  background-color: #fff;
}
main #sec3 .con3 {
  top: 52%;
  width: 20%;
  height: 28%;
  background: url(../img/dot-color.svg) no-repeat center 35% / 100px;
  background-color: #fff;
}
main #sec3 .con2:hover {
  background-image: url(../img/question.svg);
  background-color: #dbc8ff;
  color: #fff;
}
main #sec3 .con3:hover {
  background-image: url(../img/dot.svg);
  background-color: #dbc8ff;
  color: #fff;
}
main #sec3 .con2 a,
main #sec3 .con3 a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
main #sec3 .con2 p,
main #sec3 .con3 p {
  padding-top: 45%;
  
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.pop {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: rgba(219, 200, 255,.8);
  cursor: url(../img/close-small.svg),crosshair;
  transition: all .5s;
  overflow-y: auto;
  z-index: 2;
}
.pop1 .p-con {
  width: 1200px;
  height: 100%;
  padding: 100px 0;
  box-sizing: border-box;
  margin: auto;
}
.pop1 .box {
  float: left;
  width: 32%;
  margin-right: 2%;
  height: 32%;
  margin-bottom: 2%;
  padding: 0 3%;
  padding-top: 5%;
  background: #fff;
  box-sizing: border-box;
  cursor: default;
  
  font-family: 'Noto Sans KR';
  line-height: 1.3;
  text-align: center;
  letter-spacing: -1px;
}
.pop1 .box blockquote {
  margin-top: 10px;
}
.pop1 .box:nth-child(3),
.pop1 .box:nth-child(6),
.pop1 .box:nth-child(9) {
  margin-right: 0;
}
.pop1 .box:nth-child(7),
.pop1 .box:nth-child(8),
.pop1 .box:nth-child(9) {
  margin-bottom: 0;
}
.pop1 .box:nth-child(5) {
  background: url(../img/aboutme.jpg) no-repeat center center / cover;
}
.pop2 .p-con {
  width: 1000px;
  margin: auto;
}
.pop2 img {
  display: block;
  margin-bottom: 50px;
  cursor: default;
}

@media screen and (min-width:900px) and (max-width:1500px) {
  main #sec1 .txt-slide li {
    font-size: 70px
  }
  main #sec3 h2 {
    font-size: 36px
  }
  main #sec3 h3 {
    font-size: 20px
  }
  main #sec3 .con1 p {
    font-size: 22px
  }
  main #sec3 .con2 p,
  main #sec3 .con3 p {
    padding-top: 57%;
  }
  main #sec2 .item h2 {
    margin-top: 70px;
  }
}

@media screen and (max-width:899px) {
  header h1 {
    right: 40px;
  }
  header .gnb {
    left: 40px;
  }
  header .gnb a {
    float: left;
    margin-bottom: 0px;
    font-size: 40px;
  }
  header .gnb a:hover,
  header .gnb a.on {
  }
  main #sec1 .line {
    display: none;
  }
  main #sec1 .img-banner {
    display: none;
  }
  main #sec1 .txt-banner {
    top: 50%;
    left: 0;
    height: 50%;
    width: 100%;
  }
  main #sec1 .txt-slide li {
    left: 40px;
    width: 90%;
  }
  main #sec1 .txt-slide p {
    margin-top: 15%
  }
  main #sec2 .item-box {
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
  }
  main #sec2 .item h2 {
    margin-top: 40%;
    font-size: 32px;
  }
  main #sec3 .con1 {
    left: 0;
    top: 50%;
    width: 100%;
    height: 50%;
    background: #dbc8ff;
  }
  main #sec3 .con1 h2 {
    margin-top: 20px;
  }
  main #sec3 .con1 h3 {
    float: left;
    margin-right: 20px;
  }
  main #sec3 .c-con {
    padding-top: 10%;
  }
  main #sec3 .con2,
  main #sec3 .con3 {
    display: none;
  }
  main #sec3 .con2:hover,
  main #sec3 .con3:hover {
    background: #dbc8ff;
  }
  main #sec3 .con2 p,
  main #sec3 .con3 p {
    padding-top: 10%;
  }
  .indicator {
    display: none;
  }
}