@charset 'utf-8';
@import url(sub.css);

figure img {
  position: absolute;
  top: 43px;
  width: 1000px;
}
main .sec3 article:nth-child(1) p:nth-of-type(1) {background: #F8D14E;}
main .sec3 article:nth-child(1) p:nth-of-type(2) {background: #50d5e4;}
main .sec3 article:nth-child(1) p:nth-of-type(3) {background: #FFA2A2;}
main .sec3 article:nth-child(2) {
  left: 50%;
}

main .sec4 img {
  width: 100%;
}
main .sec4 img:nth-of-type(1) {
  margin-bottom: 10%;
}

main .sec5 img {
  margin-left: 10%;
  width: 80%;
  box-shadow: 0px 0px 20px #ddd
}
main .sec5 .s-con {
  padding-bottom: 200px;
}

main .img-box {
  position: relative;
  width: 1000px;
  margin: auto;
}
main .img-box img {
  position: absolute;
}
main .img-box img:nth-of-type(1) {
  width: 300px;
  left: 0px;
  top: -200px;
}
main .img-box img:nth-of-type(2) {
  width: 100px;
  right: 150px;
  top: -130px;
}
main .img-box img:nth-of-type(3) {
  width: 130px;
  right: 0px;
  top: 100px;
}

.btn-box .link-list a:hover {
  color: #17AF71;
}
.btn-box li:nth-child(2):hover .link-btn {
  background-image: url(../img/item5/link-swatch.svg)
}